body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('gb.jpeg');
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
}
.calculator h2{
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
    
    /* color: rgba(0, 0, 0, 0); */
}

nav{
    background-color: #ffffff;

}

.calculator {
    /* background: linear-gradient(145deg, #e345d8, #54afe4); */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
     border: white solid 15px;
    
}

#display {
    width: 96%;
    height: 40px;
    text-align: right;
    font-size: 24px;
    border:rgb(253, 87, 247) solid 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ebf0d6;
    color: black;
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border:black solid 3px;
}

button {
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 20%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9), -5px -5px 15px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    cursor: pointer;
    
}

button:active {
    box-shadow: inset 5px 5px 10px #d1d1d1, inset -5px -5px 10px #ffffff;
    
}

button.equals {
    grid-column: span 2;
    background: linear-gradient(145deg,  #eb2cdee6 ,#54afe4a1);
    color: white;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 0.4; /* Adjust transparency */
}

/* button.cancel {
    background: #ff4d4d;
    color: white;
}

button.delete {
    background: #f39c12;
    color: white;
} */


.sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.menu {
    display: none; /* Hidden by default */
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 40px; /* Position below the icon */
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.menu a:hover {
    text-decoration: underline;
}

